/* =======================Raleway======================== */

@font-face {
  font-family: Raleway;
  src:
    url("/fonts/Raleway/Raleway-Regular.woff2") format("woff2"),
    url("/fonts/Raleway/Raleway-Regular.woff") format("woff"),
    url("/fonts/Raleway/Raleway-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: Raleway;
  src:
    url("/fonts/Raleway/Raleway-Medium.woff2") format("woff2"),
    url("/fonts/Raleway/Raleway-Medium.woff") format("woff"),
    url("/fonts/Raleway/Raleway-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: Raleway;
  src:
    url("/fonts/Raleway/Raleway-Bold.woff2") format("woff2"),
    url("/fonts/Raleway/Raleway-Bold.woff") format("woff"),
    url("/fonts/Raleway/Raleway-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: Raleway;
  src:
    url("/fonts/Raleway/Raleway-ExtraBold.woff2") format("woff2"),
    url("/fonts/Raleway/Raleway-ExtraBold.woff") format("woff"),
    url("/fonts/Raleway/Raleway-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-display: swap;
}
@font-face {
  font-family: Raleway;
  src:
    url("/fonts/Raleway/Raleway-Black.woff2") format("woff2"),
    url("/fonts/Raleway/Raleway-Black.woff") format("woff"),
    url("/fonts/Raleway/Raleway-Black.ttf") format("truetype");
  font-weight: 900;
  font-display: swap;
}
